{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container m-6" class="permbajtja">
        <div class="row">
            <div class="col-md-6" class="imgAudiText">
                <div class="imgAudi">
                    <img src="{{productDetail.product_image1.url}}" alt="audi1" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6" class="imgAudiText">
                <div class="imgAudi">
                    <img src="{{productDetail.product_image2.url}}" alt="audi1" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" class="imgAudiText">
                <div class="imgAudi">
                    <img src="{{productDetail.product_image3.url}}" alt="audi1" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6" class="imgAudiText">
                <div class="imgAudi">
                    <img src="{{productDetail.product_image4.url}}" alt="audi1" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="audiText">
            <h3>{{productDetail.product_name}}</h3>
            <p>Cmimi {{productDetail.product_price}} Euro</p>
            <p> Nr:+355692036384 <i class="bi bi-phone"></i></p>
        </div>
    </div>
    {% endblock %}