{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container m-6" class="permbajtja">
        <div class="row">
            <div class="col-md-6" class="imgAudiText">
                <div class="imgAudi">
                    <img src="audi1.png" alt="audi1" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6" class="imgAudiText">
                <div class="imgAudi">
                    <img src="audi2.png" alt="audi1" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" class="imgAudiText">
                <div class="imgAudi">
                    <img src="audi3.png" alt="audi1" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6" class="imgAudiText">
                <div class="imgAudi">
                    <img src="audi4.png" alt="audi1" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="audiText">
            <h3>AUDI A3</h3>
            <p>Cmimi 1900 Euro</p>
            <p> Nr:+355692036384 <i class="bi bi-phone"></i></p>
        </div>
    </div>
    {% endblock %}