{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="container mt-4" class="permbajtja">
        <div class="row">
            <div class="col-md-6" class="imgPiaggioText">
                <div class="imgPiaggio">
                    <a href="audiH.html"><img src="PiaggioX81.png" alt="PiaggioX8" class="img-fluid" id="Piaggi"></a>
                </div>
                <div class="PiaggioText">
                    <h3>Piaggio X8</h3>
                    <p>Cmimi 3500 Euro</p>
                </div>
            </div>
        </div>
    </div>
   
    {% endblock %}
