<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homePage' %}">AUTO.AL <i class="bi bi-car-front-fill"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'homePage' %}">KRYEFAQA</a>
                {% for category in categories %}
                <a class="nav-link" href="{% url 'makinaHPage' category.pk %}">{{category.category_name}}</a>
                {% endfor %}
                <a class="nav-link" href="{% url 'rrethNeshHPage' %}">RRETH NESH</a>
                <a class="nav-link" href="{% url 'kontaktoHPage' %}">KONTAKTO</a>
            </div>
        </div>
    </div>
</nav>