{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="permbajtja" class="container mt-4">
            <div class="rN">
                    <h1>Rreth AUTO.AL</h1><br>
                    <h3>Themelimi i AUTO.AL</h3><br>
                    <p>Çdo koncept i ri është i bazuar në një nevojë. Idea jonë të krijojmë një faqe të internetit që do të lejojë vizitorët shqipëtarë të blejnë, shesin dhe shkëmbejnë produktet dhe shërbimet u soll në jetë në verën e vitit 2008 me lancimin zyrtar të platformës së AUTO.AL. Publikimi i tij u shoqërua nga një sukses i madh dhe numri i vizitorëve është rritur për çdo ditë. Sot, AUTO.AL kryeson tregun e internetit në Shqipëri me 70,000 vizitorë që postojnë 2 000 njoftime të reja çdo ditë.</p>
                    <h3>Modeli i Binzesit të AUTO.AL</h3><br>
                    <p>Modeli i binzesit të AUTO.AL ka për qëllim të ofrojë një formë të thjeshtë, efektive dhe të sigurtë të njoftimeve. Përmes faqes së internetit të AUTO.AL, të dy palët, kompanitë dhe qytetarët shqipëtarë, kanë mundësinë të blejnë, shesin dhe shkëmbejnë produktet dhe shërbimet në një mënyrë që nuk e kanë provuar më parë. Qëllimi i AUTO.AL është që vazhdimisht të rris përvojën e përdoruesve për njoftimet online</p>
            </div>
    </div>
 
    {% endblock %}